<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
          <h2>BOOKAPP</h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="forming">   
            <input class="form-control mr-sm-2"  #str placeholder="Search by name or author of book" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchForBook(str)">Search</button>
          </div>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  FILTER
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="listing/filter/1">BY PRICE</a>
                  <a class="dropdown-item" href="listing/filter/2">BY CONDITION</a>
                </div> 
              </li>
            </ul>
            
              <div *ngIf="!isUser">
                <button class="btn btn-dark btn-lg" (click)="signin()">SIGNIN</button>
                <button class="btn btn-dark btn-lg " (click)="signup()">SIGNUP</button>
              </div>
              <div *ngIf= "isUser" id="user">
                <button class="btn btn-dark btn-lg " (click)="wishlist()">WISHLIST</button>
                <button class="btn btn-dark btn-lg " (click)="mymessages()">MESSAGES</button> 
                <ul class="navbar-nav mr-auto "> 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    USER
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">PROFILE</a>
                    <a class="dropdown-item" href="/logout">LOGOUT</a>
                  </div>  
                  </li>
                </ul> 
              </div>
           
          </div>
          
        </div>
      
      </nav>
      <router-outlet ></router-outlet>