
.container{
    display: flex;
    background: rgb(100,200,360);
    border: 2px solid red;
}

.card-img-top{
    margin: 10%; 
    height: 400px;
    width: 400px;
    background-size: cover; 
    border: 3px solid black;
} 

span{
    color: rgb(1,0,360);
    font-size: 30px;
    font-weight: 800;
    /* margin-right: 5px; */
}

p{
    font-size: 20px;
    font-weight: 600;
}

#buttonContainer{
    display: flex;
}

button{
    margin: auto;
}