<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Add a book for sale</h2>
      <input type="text" class="form-control" name="bookname" placeholder="Book Name" required="" autofocus="" />
      <input type="text" class="form-control" name="authorname" placeholder="Author Name" required=""/>      
      <input type="number" class="form-control" name="price" placeholder="Price" required=""/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>   
    </form>
  </div>