<div class="wrapper">
    <div class="shapes">
      <div class="row"></div>
      <div class="column">
        <div class="column__1">
          <div class="polygen"></div>
          <div class="circle"></div>
          <div class="traingle"></div>
          <div class="italicline"></div>
          <div class="sm-circle"></div>
          <div class="xs-circle"></div>
        </div>
        <div class="column__2">
          <div class="line"></div>
          <div class="square"></div>
          <div class="half-circle"></div>
          <div class="sm-square"></div>
          <div class="rectangle"></div>
          <div class="star"></div>
        </div>
        <div class="column__3">
          <div class="six-circle"></div>
          <div class="pencil"></div>
        </div>
      </div>
    </div>
    <div class="form-content">
      <div class="form-content__header">
        <h2>BOOKAPP</h2>
      </div>
      <form  action="/signup" method="POST">
        <div class="form-row">
            <input type="email" name="email" placeholder="E-MAIL" required>
        </div>
        <div class="form-row">
            <input type="text" name="username" placeholder="USER NAME" required>
        </div>
        <div class="form-row">
            <input type="text" name="firstname" placeholder="FIRST NAME">
        </div>
        <div class="form-row">
            <input type="text" name="lastname" placeholder="LAST NAME">
        </div>
        <div class="form-row">
            <input type="textarea" name="about" placeholder="ABOUT YOURSELF">
        </div>
        <div class="form-row">
            <input type="text" name="text" placeholder="MOBILE NO" required>
        </div>
        <div class="form-row">
            <input type=" text" name="college" placeholder="COLLEGE" required>
        </div>
        <div class="form-row">
            <input type=" text" name="address" placeholder="ADDRESS" required>
        </div>
        <div class="form-row">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-row">
          <button class="btn" > Sign UP</button>
        </div>
        <div class="form-row">
          <p>Have an account ? <a href="/signin">Sign IN</a></p>
        </div>
      </form>
      <div class="form-content__footer">
        <!-- <p><a href="#">Forget passowrd !</a></p> -->
      </div>
    </div>
  </div>
